# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Browser Downloads\Submission_198804692\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
